/* цвет основного текста #757575*/
/* вторичный цвет #212121*/

/* цвет акцента #2196F3*/
/* цвет фона #ffffff*/
/*цвет фона главной страницы #2F303A */
:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #757575;
  background-color: #e5e5e5;
}
/* Заголовки*/
h1,
h2,
h3 {
  text-align: center;
  color: #212121;
}

/* Логотип*/
.logo:honor {
  color: #2196f3;
}
.logo:focus {
  color: #ff0000;
}
.logo > span:honor {
  color: #000000;
}
.logo > span:focus {
  color: #ff0000;
}
.logo {
  font-family: Oleo Script;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  font-style: Oleo Script;
  color: #2196f3;
}
.logo > span {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: #000000;
}
/* Навигация без логотипа*/
.navigator {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}
.portfolio:honor {
  color: #2196f3, #757575;
}
.portfolio:focus {
  color: #ff0000;
}
/* Почта и тел*/
.navigator-cvias {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}
.navigator-cvias:honor {
  color: #2196f3, #757575;
}
.navigator:focus {
  color: #ff0000;
}
/* figma-info-навигация*/
