/* цвет основного текста #757575*/
/* вторичный цвет #212121*/

/* цвет акцента #2196F3*/
/* цвет фона #ffffff*/
/*цвет фона главной страницы #2F303A */
:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}

body {
  font-style: normal;
  font-family: Roboto, Arial, sans-serif;
  color: #757575;
  background-color: #ffffff;
}
/* Заголовки*/
h1,
h2,
h3 {
  font-style: bold;
  text-align: center;
  color: #212121;
}
/* Логотип*/
.logo {
  font-style: bold;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: #2196f3;
}

.logo > span {
  color: #000000;
}

.logo:honor {
  color: #2196f3;
}
.logo:focus {
  color: #ff0000;
}
.logo-span:honor {
  color: #000000;
}
.logo-span:focus {
  color: #ff0000;
}
/*Навигация без логотипа*/
.navigator {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}
.portfolio:honor {
  color: #2196f3;
}
.portfolio:focus {
  color: #ff0000;
}
/* Почта и тел*/

.navigator:honor {
  color: #2196f3;
}
.navigator:focus {
  color: #ff0000;
}

/*Main*/
.main {
  color: #757575;
}
/* Section Главная*/
.our-projects {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
}
.our projects {
  color: #ffffff;
}

.button-zakaz {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  text-align: center;
}
.button-zakaz {
  color: #ffffff;
  background-color: #1988e4;
}

.button-zakaz:hover {
  background-color: #1988e4;
}

.button-zakaz:focus {
  background-color: #2196f3;
}
/* Section Наши сильные стороны*/
.our-strong {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  color: #212121;
}
.our-strong-ul {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;
  color: #212121;
}
.our-strong-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
/*Section Чем мы занимаемся*/
.we-do {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.we-do-team > .name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}
.we-do-team {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  text-align: center;
}
/*Section our-projeckts*/

.all-projects {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  text-align: left;
  color: #212121;
}
.button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
}
.first-blue {
  color: #ffffff;
  background-color: #2196f3;
}
.first-blue:active {
  color: #2196f3;
}

.special-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  text-align: left;
  color: #212121;
}
.name-projects {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
.photo-projects {
  height: 294px;
  width: 370px;
  left: 215px;
  top: 262px;
  border-radius: 0px;
}
/* Section footer*/

.footer-back-color {
  background-color: #2f303a;
}
.logo-footer > span {
  color: #ffffff;
}

.footer-back-color:hover {
  color: #2196f3;
}
.footer-back-color:focus {
  color: #ff0000;
}
.logo-footer-span:hover {
  color: #ffffff;
}
.logo-footer-span:focus {
  color: #ff0000;
}
