/* цвет основного текста #757575*/
/* вторичный цвет #212121*/

/* цвет акцента #2196F3*/
/* цвет фона #ffffff*/
/*цвет фона главной страницы #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  
}

body {
  
  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  
}
/* Заголовки*/

ul {
  list-style-type: none;
}
/* Логотип*/

 .logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
  color: var(--accent-color);
}
span {
  color: var(--title-text-color);
}
a {
  text-decoration: none;
}  

/*Навигация без логотипа*/
.links { 
  font-size: 14px; 
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left; 
}

.clr {
  color: #212121;
}

.link-current {
  color: var(--accent-color);
}
.links .link-current:hover,
.links .link-current:focus {
  color: var(--accent-color);
}
.links .link :hover,
.links .link:focus  {
  color: var(--accent-color);
}

/* Почта и тел*/
.post-tel {  
  font-size: 14px; 
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
}

.mail {
  color: var(--primary-text-color);
}
.tel {
color: var(--primary-text-color);
}

.post-tel .link:hover,
.post-tel .link:focus {
  color: var(--accent-color);
}

/* Section Главная*/
.title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
   
}
.our-projects {
  height: 600px;
  width: 1600px;
  left: 0px;
  top: 80px;
  border-radius: 0px;
  background-color: #2F303A;
}

.zakaz {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-color);
}

.zakaz:hover  {
  background-color: #188ce8;
}
  

/* Section Наши сильные стороны*/
.our-strong {
font-size: 36px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: center;
color: var(--title-text-color);
}

.our-strong-h {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
  text-transform: uppercase;
}

.our-strong-f {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121; 
 
}
.our-text-p {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--primary-text-color);

}
.our-text { 
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  
}

/*Section Чем занимаются*/

  /*Section Team*/

.last-name { 
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.team-backgroud-color {
  background-color: #F5F4FA;
  
}
/*Section Наши проекты */

.projects {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--title-text-color);
}
.first-blue-zakaz {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--accent-color);
  color: #ffffff;
}
 
.first-blue-zakaz:hover  {
  color: #188ce8;
}
.button-all {
font-size: 16px;
font-weight: 500;
line-height: 1.63;
letter-spacing: 0.03em;
text-align: center;

}
.pointer {
  cursor: pointer;
}
.btn {
  color: #212121;
  background-color: #f5f4fa;
}
.btn:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.first-blue {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: var(--accent-color);
}

.first-blue:active {
  background-color: #ffffff;
}
/*Section Projects with photo*/

.special-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.0;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--title-text-color);
}  

.job {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
text-align: left;
color: var(--primary-text-color);
}

/*Section Footer*/
.logo-f {
  
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  text-decoration: none;
  color: var(--accent-color);
}

.links {
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.add {
color: #ffffff;
}
.opacity {
  color: rgba(255, 255, 255, 0.6);
}
.underline {
  text-decoration: none;
}

.links .link:hover,
.links .link:focus { 
  color: var(--accent-color);
}
.foot-bg {
  background-color: #2F303A;
}
.logo-f > span {
  color: #ffffff;
}